<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">stock</th>
        <th scope="col">quantity</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.name}}</th>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.quantity}}</td>
        <td><svg (click)="setQantityLess(product)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-square-fill d-flex align-self-center" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/></svg></td>
        <td><svg (click)="setQantityPlus(product)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill d-flex align-self-center" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/></svg></td>
    </tr>
    </tbody>
  </table>
  <div class="row d-flex justify-content-end">
    <div class="col-2"><button class="btn btn-primary" (click)="addToCart()">Add to cart</button></div>
  </div>
