<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="row d-flex justify-content-center">
    <div class="col-10  d-flex justify-content-center">
        <div class="col-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://s9.postimg.org/tupxkvfj3/image.jpg"></div>
                <figcaption class="info-wrap">
                        <h4 class="title">Another name of item</h4>
                        <p class="desc">Some small description goes here</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
    </div>
  
</div> <!-- row.// -->


